*.pyc
*.swp
.DS_Store
*.Pluric*
nohup.out
*.lo
*.o
.libs
.deps
INSTALL
libtool
ltmain.sh
install-sh
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
autom4te.cache
aclocal.m4
Makefile
Makefile.in
*.la
*.pc
stamp-h1
compile
depcomp
missing
robot_data.h
test-robohash
